
@{
    Layout = "";
    ViewBag.Title = "Users";    
}


<div class="row">
    <div class="col-12">
        <table class="table table-responsive-lg table-bordered">
            <thead>
                <tr>
                    <td>name</td>
                    <td>Email</td>
                    <td class="text-center">State</td>
                </tr>
            </thead>
            <tbody ng-repeat="user in UsersCtrl.users">
                 <tr><td>{{user.name}}</td><td>{{user.email}}</td><td ng-class="UsersCtrl.setClass(user.accountState)">{{user.accountState | userState}}</td></tr>
            </tbody>
        </table>
    </div>
</div>
